 <html>
	<head>
		<title>Varf: {{title}}/{{name}}</title>
		

		<!-- Required Css and js for C3 and D3 plotting -->
		<link href="/static/c3.css" rel="stylesheet" type="text/css">
		<script src="/static/d3.min.js" charset="utf-8"></script>
		<script src="/static/c3.min.js"></script>

		<!-- Boostrap css, and jquery for the js part -->
		<link rel="stylesheet" href="/static/bootstrap.min.css">
		<script src="/static/jquery-2.1.4.min.js"></script>
		<script src="/static/bootstrap.min.js"></script>
        
        <!-- our css. (declared afterward, so that we can override easily ) -->
        <link href="/static/style.css" rel="stylesheet" type="text/css">
		

	</head>

	<body>

        
		<!-- Navigation bar -->
        <nav class="navbar navbar-default" id="custom_navbar" role="navigation">
            <div class="container-fluid">
                <!-- add a cute bird. Weka has chosen a cute bird from their country (the weka). 
                     Since we are in America ("America, FUCK YEAH!") we choose an eagle, but a cute one -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                      <img style="height: 45px; margin-top: -8px;" src="/static/eagle.svg">
                    </a>
                    <a class="navbar-brand" href="#">VARF</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Visualization<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Classify</a></li>
                    <li><a href="#">Feature ranking</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">{{filename}}</a></li>
                </ul>
            </div>
        </nav>

        <div class="general_container">

        <!-- The list of attributes, filled from the beginning, via template. -->
            <div class="panel panel-default attribute_list">
                <div class="title_row panel-heading">
                    <h4>Features</h4>
                </div>
                <div class="row_container">
                    {{#each attributes}}
			        <div class="attribute_row">
                        <div class="attribute_row_index">{{@index}}</div>
                        <div class="attribute_row_content"><a href="/?att_id={{@index}}">{{.}}</a></div>
			        </div>
			        {{/each}}
                </div>
            </div>

        <!-- everything is considered a visu, and is on the right -->
        <div class="panel_visus">
              <!-- The graph properly talking -->
              <div class="panel panel-default graph">
                <div class="title_row panel-heading">
                    <h4>Visualization for {{name}}</h4>
                    
                </div>
                <div id="chart"></div>
            </div>

            <!-- A small panel containing some statistics -->
            <div class="overstats">
                <div class="panel panel-default stats">
                    <div class="title_row panel-heading">
                        <h4>Stats</h4>
                    </div>
		            <div class="attribute_row">
                        <div class="attribute_row_large">Missing: </div>
                        <div class="attribute_row_content"><a href="/?att_id={{@index}}">1234 (0.81%)</a></div>
		            </div>
		            <div class="attribute_row">
                        <div class="attribute_row_large">Min: </div>
                        <div class="attribute_row_content"><a href="/?att_id={{@index}}">0</a></div>
		            </div>
		            <div class="attribute_row">
                        <div class="attribute_row_large">Max: </div>
                        <div class="attribute_row_content"><a href="/?att_id={{@index}}">1</a></div>
                    </div>
		            <div class="attribute_row">
                        <div class="attribute_row_large">Mean: </div>
                        <div class="attribute_row_content"><a href="/?att_id={{@index}}">0.222</a></div>
		            </div>
		            <div class="attribute_row">
                        <div class="attribute_row_large">Std: </div>
                        <div class="attribute_row_content"><a href="/?att_id={{@index}}">0.333</a></div>
		            </div>
                </div>
            </div>

            <!-- Some actions the the user can do with the graph-->
              <div class="panel panel-default actions">
                <div class="title_row panel-heading">
                    <h4>Color and zoom</h4>
                </div>
                <div class="dials">
                    <form class="form-horizontal">
                        <div class="form-group">
                          <label class="col-sm-5 control-label">Class: </label>
                          <div class="col-sm-7">
                            <select class="form-control">
                              <option>class</option>
                              <option>Japabu</option>
                              <option>beuku</option>
                              <option>ranafout</option>
                            </select>
                          </div>
                    </div>
                    </form>
                    
                    <form class="form-horizontal">
                        <label class="col-sm-5 control-label">Graph axis:</label>
                        <br>
                        <div class="form-group">
                            <input type="hidden" name="att_id" value="{{att_id}}">
                        </div>
                        <div class="form-group">
                          <p class="col-sm-3 control-label">Max</p>
                          <div class="col-sm-8">
                            <input class="form-control" id="inputMax" placeholder="{{max}}">
                          </div>
                        </div>
                        <div class="form-group">
                          <p class="col-sm-3 control-label">Min</p>
                          <div class="col-sm-8">
                            <input class="form-control" id="inputMin" placeholder="{{min}}">
                          </div>
                        </div>
                        <div class="form-group">
                          <p class="col-sm-3 control-label">Precision</p>
                          <div class="col-sm-8">
                            <input class="form-control" id="inputPrecision" placeholder="{{precision}}">
                          </div>
                        </div>

                    </form>
                </div>
            </div>

            <!-- A panel showing related instances, when a user click on the graph -->
            <div class="overinstances">
                <div class="panel panel-default instances">
                    <div class="title_row panel-heading">
                        <h4>Stats</h4>
                    </div>
		            Click on the an area of the graph to show the corresponding instances. If you have a id.ignore, you will be able to access the diffbot preview of each instance.
                </div>
            </div>



		</div>
        

		



			<script>

var id0 = {{#if numeric}}1{{else}}0{{/if}};
var id1 = {{#if numeric}}2{{else}}1{{/if}};
var rows = [];
var labels = [];
{{#if numeric}}
labels.push('x');
{{/if}}
{{#each classes}}
labels.push('{{.}}');
{{/each}}

{{#each classes}}
labels.push('% of {{.}}');
{{/each}}

rows.push(labels);

{{#each samples}}

	var row = [];

	{{#if ../../numeric}}
		row.push("{{label}}");
	{{/if}}

	var sum = 0;
	{{#each slices_len}}
		sum += {{.}};
		row.push({{.}});
	{{/each}}

	{{#each slices_len}}
		row.push({{.}} / sum);
	{{/each}}

	rows.push(row);

{{/each}}

var chart = c3.generate({
	padding: { top: 10, },
	bindto: '#chart',
	data: {
		{{#if numeric}}
		x: 'x',
		{{/if}}
		rows: rows,
		types: {
			{{#each classes}}
			'{{.}}': {{#if ../../numeric}}'area'{{else}}'bar'{{/if}},
			{{/each}}
		},
		axes: {
			{{#each classes}}
				'% of {{.}}': 'y2',
			{{/each}}
		},

		onclick: function(e) {
			// Find out the slice ID
			var slice_id = e.index;
			
			var name = e.name;

			if (name.startsWith("% of"))
				return;

			var url = "/pop?slice="+slice_id+"&class="+name;
			url += "&att_id=" + {{att_id}};
			{{#if numeric}}
				url += "&precision=" + {{precision}};
				url += "&min=" + {{min}};
				url += "&max=" + {{max}};
			{{/if}}

			window.open(url, "_blank");
			
		},
		hide: [
			{{#each classes}}
				{{#unless @first}}
					'% of {{.}}',
				{{/unless}}
			{{/each}}
		],

		groups: [[{{#each classes}}'{{.}}',{{/each}}]]
	},
	axis: {
		y2: {
			padding: {bottom: 0, top: 10},
			min: 0,
			max: 1,
			show: true,
		},
		{{#if numeric}}
		{{else}}
		x: {
			type: 'category',
			categories: [
			{{#each samples}}
				'{{label}}',
			{{/each}}
			]
		},
		{{/if}}
	},
});

			</script>
    </div>
	</body>
</html>

