body {
	padding: 0px;
	margin: 0px;
    background: #FCFCFC;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

#custom_navbar {
    font-size: 15px;
    margin-bottom: 15px;
}

.general_container {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height:100%;
}

.attribute_list {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    margin-right: 0px;
    height: 670px;
    width: 25%;
    overflow:hidden;
    position:relative;
}


.title_row {
    height: 40px;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 5px;
}


.row_container {
    overflow-y: auto;
    position:absolute;
    bottom:0;
    top: 40px;
    width: 100%;
	box-sizing: border-box;
}

.attribute_row {
    overflow:hidden;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	background: #FEFEFE;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color : #eee;
    white-space: nowrap;
	box-sizing: border-box;
}

.attribute_row_index {
    display: inline-block;
    padding: 2px;
    white-space: normal;
    padding-right: 6px;
    width: 35px;
    border-right-width: 1px;
    border-right-style: solid;
    border-color : #eee;
    text-align: right;
}

.attribute_row_large {
    display: inline-block;
    padding: 2px;
    white-space: normal;
    padding-right: 6px;
    width: 70px;
    border-right-width: 1px;
    border-right-style: solid;
    border-color : #eee;
    text-align: right;
}

.attribute_row_content {
    display: inline;
    padding: 2px;
    margin-left: 10px;
}

.panel_visus {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    padding-left: 10px;
    width: 74.5%;
    height: 88%;
}

.graph {
    display: inline-block;
    vertical-align: top;
    width: 75%;
	overflow: hidden;
	height: 370px;
	box-sizing: border-box;

}

.overstats {
    display: inline-block;
    vertical-align: top;
    width: 24.9%;
    margin-left: -4px;
    padding-left: 10px;
	height: 370px;
	box-sizing: border-box;
}

.stats{
    height: 100%;
}


.actions {
    display: inline-block;
    vertical-align: top;
    width: 30%;
	overflow: hidden;
	height: 280px;
	box-sizing: border-box;
}

.overinstances {
    display: inline-block;
    vertical-align: top;
    width: 69.9%;
    margin-left: -4px;
    padding-left: 10px;
	height: 280px;
	box-sizing: border-box;
}

.instances{
    height: 100%;
}

.dials {
	box-sizing: border-box;
	width: 100%;
    padding: 20px;
    padding-top:16px;
	text-align: center;
}

.form-group {
    margin-bottom: 4px;
}

.form-horizontal {
    margin-bottom: 0px; 
}

.control-label {
    padding-top: 3px;
}

#axislabel {
    padding-top: 2px;
}

#submitbtn {
    width: 100%;
}



